@font-face{
	font-family: 'DancingScript';
	src: url(../fuentes/DancingScript-Regular.ttf);
}

html{
		font-family: 'DancingScript';
		background: black;
}

header {
	width: 100%;
	height: 50px;
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
	top: 0;
	margin: 0;
	animation-duration: 3s;
	animation-name: slidein;
}


header h1 {
	margin: margin-left;
	padding-left: 1%;
	padding-top: 1%;
	font-size: 1.5em;
	color: white;
	text-shadow: 2px 2px #02010a;
}
nav{
	float: right;
	position:absolute;
	top:4.5vh;
	right: 3vh;
}
nav a{
	color:white;
}


footer {
	font-size: 0.8em;
	text-align: center;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}

#imgenPrincipal{
	width: 100%;
	background-color: #82c3a6;
	display: flex;
	flex-direction: column;
}

#imgenPrincipal img{
width: 70%;
text-align: center;
margin-left: 15%;
margin-right: 15%;
margin-top: 5%;
margin-bottom: 5%;
-webkit-box-shadow:2px 2px #02010a;
}

section{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #d5c75f;

}

section #retrato {
	flex-grow: 1;
	margin: 2%;
}

section #retrato img{
	-webkit-box-shadow:2px 2px #02010a;
}

section #paisaje{
	flex-grow: 1;
	margin: 2%;
	transition: height 2s;
}

section #paisaje img{
	-webkit-box-shadow:2px 2px #02010a;
}

@-webkit-keyframes mirotacion{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-10deg);
	}
}

@-webkit-keyframes mimover{
	from{
		transform: translateY(-5px);
	}
	to{
		transform: translateX(20px);
	}
}
@keyframes slidein {
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}

section #paisaje img:hover{
animation: mirotacion 2s infinite;
border: 2px;
-webkit-box-shadow: 2px 2px #82c3a6;
}

section #retrato img:hover{
	animation: mimover 1s infinite;
	border: 2px;
	-webkit-box-shadow: 2px 2px #82c3a6;
}
img{
	border: 1px solid black;
}

#contacto{
	width: 22%;
	padding: 10px;
}
#Terminos{
	width: 22%;
	padding: 10px;
}
#redes{
	width: 22%;
	padding: 10px;
}

#Derechos{
	width: 22%;
	padding: 10px;
}

#contenido{
	width:100%;
}

#contenedor{
	width: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	background-color: #d5c75f;
}

#imagen1{
	padding: 15px;
	-webkit-filter:blur(10px);
}
#imagen2{
		padding: 15px;
	-webkit-filter:grayscale(100%);
}
#imagen3{
		padding: 15px;
	-webkit-filter:sepia(100%);
}
#imagen4{
		padding: 15px;
-webkit-filter:grayscale(100%);
}
#imagen5{
		padding: 15px;
	-webkit-filter:sepia(50%);
}
#imagen6{
		padding: 15px;
-webkit-filter:grayscale(100%);
}


@media screen and (max-width:900px){
	#contenedor{
		width: 100%;
		margin: 0 auto;
	}
	#imgenPrincipal{
		width: 100%;
	}
	#retrato{
		width: 100%;
	}
	#paisaje{
		width: 100%;
	}
	#contacto{
		width: 100%;
	}
	#redes{
		width: 100%;
	}
	#Terminos{
		width: 100%;
	}
	#Derechos{
		width: 100%;
	}
	#contactoT{
		font-size: 2em;
		font-weight: bold;
	}
	header{
		width: 100%;
		height: 100px;
		text-align: center;
	}
	nav{
		width: 100%;
		top: 50px;
		float: left;
		text-align: center;
	}
	#contenedor{
		width: 100%;
	}
	#imagen1{
		width: 100%;
		text-align: center;
	}
	#imagen2{
		width: 100%;
		text-align: center;
	}
	#imagen3{
		width: 100%;
		text-align: center;
	}
	#imagen4{
		width: 100%;
		text-align: center;
	}
	#imagen5{
		width: 100%;
		text-align: center;
	}
	#imagen6{
		width: 100%;
		text-align: center;
	}
}
